* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

ul {
    list-style: none;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  color: #253040;
  background-color: #FFFFFF;
}

header {
  background-color: #536B78;
  height: 70px;
  width: 100%;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: flex-end;
  height: 90%;
  margin: 0;
}

.nav-bar li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s ease;
}

.nav-bar li a:hover {
  opacity: 70%;
}

.title-blog {
  text-align: center;
  font-family: "Patua One", serif;
  height: 200px;
  margin-top: 30px;
}

.title-blog h1 {
  color: #536B78;
  font-weight: 800;
  font-size: 100px;
  margin: 10px auto;
}

.title-blog h2 {
  font-size: 30px;
  font-weight: 400;
}

article {
  background-color: #e7f3f9;
  margin: 20px 80px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

article .date {
  text-align: end;
  font-size: small;
}

article .title-daily {
  color: #536B78;
  border-bottom: 2px solid #536B78;
  padding-bottom: 6px;
}

article p {
  padding-top: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: justify;
}

article .mood {
  background-color: #c1dae6;
  color: #253040;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  width: 100px;
  margin-top: 10px;
  padding: 4px 8px;
  align-self: flex-end;
}

.nav-posts {
  margin: -10px 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-posts a {
  text-decoration: none;
  color: #253040;
  transition: 0.5s ease;
}

.nav-posts a:hover {
  opacity: 70%;
}

.profile-box {
  margin-top: 100px;
}

.profile-box h1 {
  text-align: center;
  font-family: "Patua One", serif;
  height: 50px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.profile {
  background-color: #536B78;
  display: flex;
  align-items: center;
}

.profile p {
  color: #FFFFFF;
  font-size: 16px;
  padding: 30px 15px 30px 80px;
}

.profile-img img {
  border-radius:20px;
  height: 200px;
  margin: 30px 80px 30px 15px;
}

#portfolio h2 {
  text-align: center;
  font-family: "Patua One", serif;
  height: 50px;
  margin-top: 120px;
  font-size: 30px;
  font-weight: 400;
  width: 100%;
}

.portfolio-box {
  background-color: #e7f3f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb-box {
  margin-left: 80px;
  margin-right: 80px;
}

.portfolio-box .thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
  padding: 30px 0;
}

.portfolio-box .thumbnails a {
  flex: 0 0 calc(33.33% - 20px); 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.portfolio-box .thumbnails a:hover {
  opacity: 70%;
}

.portfolio-box .thumbnails img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#contact h2 {
  text-align: center;
  font-family: "Patua One", serif;
  height: 50px;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
}

.social {
  background-color: #536B78;
  display: flex;
  justify-content: center;
}

.social ul {
  display: flex;
  width: 420px;
  justify-content: space-between;
  margin-top: 30px;
}

.social a i{
  color: #ffffff;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  transition: 0.5s ease;
}

.social a i:hover {
  opacity: 70%;
}

.contact-form {
  background-color: #536B78;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  gap: 10px;
  width: 380px;
}

.form-group input {
  border: 1px solid #536B78;
  border-radius: 10px;
  height: 30px;
  font-size: 12px;
  padding: 6px;

}

.form-group textarea {
  resize: none;
  width: 380px;
  height: 120px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 6px;
}

.form-group button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #253040;
  color: #FFFFFF;
  border: 1px solid #253040;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.form-group button:hover {
  opacity: 50%;
}

footer {
  height: 20px;
  text-align: center;
  padding: 6px;
  font-size: 16px;
  color: #253040;
}

footer a {
  color: #253040;
  text-decoration: underline;
}